.btn{
    text-decoration: none; 
    border: 3px solid #ff6348;
    padding: 5px;
    border-radius: 18px;
    color: #ff6348;
}

.btn:hover{
    background-color: #ff6348;
    color: aliceblue;
    padding: 7px;
}

@font-face{
    font-family: monrope;
    src: url('Manrope-Regular.ttf');
}

body{
    font-family: monrope;
}